build/

node_modules/
lib/
*.log
.pydevproject
.swp
app/epf.min.js
logs/
*.log.1
.DS_Store

logs/epf.log.1

build/angooseclient-generated.js
angoose-client-generated.js
dillon-resources/

scratch.js

*Thumbs.db



app/epf-myfmv.bundle.js

app/epf-graph.bundle.js
